.b--card-d {
  position: relative;
  border: 3.9vh solid map-get($color-options, h);
  background: map-get($color-options, h);
  height: 85.15%;
  box-shadow: 0px 16px 21px -7px map-get($color-options, b);
  z-index: 0;
  @media all and ($viewport-type: $mobile) {
    border: 1.5vh solid map-get($color-options, h);
    max-width: none !important;
    width: calc(100vw - 80px);
    width: calc(100vw - 80px + $measure*10);
    height: auto;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(100% + 3.9vh);
    width: 23px;
    height: 99px;
    background-color: map-get($color-options, t);
    @media all and ($viewport-type: $tabletm) {
      top: calc(100% + 3.9vh);
    }
    @media all and ($viewport-type: $mobile) {
      top: calc(100% + 1.5vh);
      width: 16px;
      height: 72px;
    }
  }
  &::before {
    left: 5%;
  }
  &::after {
    right: 5%;
  }
  &__bd {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $gradient-d;
    height: 100%;
    padding: 11%;
    @media all and ($viewport-type: $tabletl) {
      padding: 5%;
    }
    @media all and ($viewport-type: $mobile) {
      padding: 5% $measure*5;
    }
    .b--quote-a {
      &__content {
        &.b--content-a * {
          font-weight: 600;
        }
      }
    }
  }
  &__artwork {
    position: absolute;
    bottom: 0;
    right: 10.76%;
    width: 13.18%;
    height: 6.29%;
    background-color: map-get($color-options, u);
    @media all and ($viewport-type: $tabletm) {
      display: none;
    }
  }
}
