// Used in several chapters
.b--card-a{
    position: relative;
    padding: $measure * 3 $measure * 6;
    border: 15px solid map-get($color-options , b);
    background: $gradient-g;
    @media all and (max-height: $mobile) {
        padding: 8%;
        border: 2vh solid map-get($color-options , b);
    }
    @media all and ($viewport-type: $mobile) {
        padding: $measure * 3;
        border: 8px solid map-get($color-options , b);
    }
    &::before{
        content:'';
        position:absolute;
        left:0;top:0;
        width: 100%;
        height: 100%;
        background:  url('@/assets/img/pattern.png') ;
        background-size: cover;
        opacity: 0.2;
    }
    &__artwork{
        position: absolute;
        top: -15px;
        left: calc(100% + 15px);
        width: 12px;
        height: calc(100% + 30px);
        background-color: map-get($colorbg-options , d);
        @media all and (max-height: $mobile) {
            top: -2vh;
            left: calc(100% + 2vh);
            width: 1.5vh;
            height: calc(100% + 4vh);
        }
        @media all and ($viewport-type: $mobile) {
            top: -8px;
            left: calc(100% + 8px);
            width: 6px;
            height: calc(100% + 16px);
        }
    }
    &__wrapper{
        max-height: calc(100vh - 18.85vh - 17.77vh - $measure*4 - 30px - $measure * 6);
        overflow: auto;
        position: relative;
        @media all and ($viewport-type: $mobile) {
            max-height: calc(100vh - 18.85vh - 17.77vh - $measure*4 - 16px - $measure * 6);
        }
    }
}