.b--card-d {
  position: relative;
  border: 40px solid map-get($color-options, h);
  background: map-get($color-options, h);
  height: 85.15%;
  width: 872px;
  z-index: 0;
  @media all and ($viewport-type: $mobile) {
    padding: $measure * 3;
    border: 8px solid map-get($color-options, b);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(100% + 40px);
    width: 23px;
    height: 99px;
    background-color: map-get($color-options, t);
    @media all and (max-height: $mobile) {
      width: 12px;
    }
    @media all and ($viewport-type: $mobile) {
      width: 12px;
    }
  }
  &::before {
    left: 5%;
  }
  &::after {
    right: 5%;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $measure * 3 $measure * 10;
    background: $gradient-d;
    height: 100%;
    &__content {
      width: 314px;
    }
  }
  &__media-wrapper {
    position: absolute;
    top: 55px;
    left: 455px;
    width: 540px;
    &__media {
      display: block;
    }
  }
}
