.b--card-c{
    position: relative;
    z-index: 20;
    &__bd{
        position:relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        top: 10px;
        &__artwork{
            position: absolute;
            top: 0;
            left: 100%;
            width: 6px;
            height: 100%;
            background-color: map-get($color-options , a);
            @media all and ($viewport-type: $mobile) {
                width: 4px;
            }
        }
        &__media{
            display: block;
            border: 8px solid map-get($color-options , b);
            @media all and ($viewport-type: $mobile) {
                border: 6px solid map-get($color-options , b);
            }
        }
    }
    &__ft{
        &__media{}
    }
}