.b--card-c{
    position: relative;
    z-index: 20;
    &__bd{
        position:relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        top: 10px;
        &__artwork{
            position: absolute;
            top: 0;
            left: 100%;
            width: 6px;
            height: 100%;
            background-color: map-get($colorbg-options , d);
            @media all and ($viewport-type: $mobile) {
                width: 4px;
            }
        }
        &__media{
            // border-top: 10px solid #771f1b;
            // border-bottom: 10px solid #771f1b;
            // border-left: 10px solid #771f1b;
            // border-right: 10px solid #771f1b;
            border-top: 10px solid map-get($color-options , b );
            border-bottom: 10px solid map-get($color-options , b );
            border-left: 10px solid map-get($color-options , b );
            border-right: 10px solid map-get($color-options , b );
            display: inline-flex;
        }
    }
    &__ft{
        &__media{}
    }
}