.b--card-c{
    position: relative;
    z-index: 20;
    &__bd{
        position:relative;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        top: 8px;
        height: 70.52%;
        @media all and ($viewport-type: $mobile) {
            top: 6px;
        }
        &__artwork{
            position: absolute;
            top: 0;
            left: 100%;
            width: 6px;
            height: 100%;
            background-color: map-get($color-options , a);
            @media all and ($viewport-type: $mobile) {
                width: 4px;
            }
        }
        &__media-wrapper{
            border: 8px solid map-get($color-options , b);
            overflow: hidden;
            @media all and ($viewport-type: $mobile) {
                border: 6px solid map-get($color-options , b);
            }
            &__media{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__ft{
        height: 29.48%;
        &__media{
            display: block;
            width: 100%;
        }
    }
}