.b--card-f {
  position: relative;
  width: 100%;
  max-width: 700px;
  &__artwork {
    position: absolute;
    top: 0;
    left: 100%;
    width: 1.17vh;
    height: 100%;
    background-color: map-get($color-options, a);
    @media all and ($viewport-type: $mobile) {
      width: 6px;
    }
  }
  &__hd {
    position: relative;
    margin-bottom: 47px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      width: 1.95vh;
      height: 47px;
      background-color: map-get($colorbg-options, d);
      @media all and (max-height: $mobile) {
        width: 12px;
      }
    }
    &::before {
      left: 15%;
    }
    &::after {
      right: 15%;
    }
  }
  &__bd {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      width: 1.95vh;
      height: 50vh;
      background-color: map-get($colorbg-options, d);
      @media all and (max-height: $mobile) {
        width: 12px;
      }
    }
    &::before {
      left: 8%;
    }
    &::after {
      right: 8%;
    }
  }
}
