.b--card-f {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__artwork {
    position: absolute;
    top: 0;
    left: 100%;
    width: 1.17vh;
    height: 100%;
    background-color: map-get($color-options, a);
    @media all and ($viewport-type: $mobile) {
      width: 6px;
    }
  }
  &__hd {
    position: relative;
    margin: 0 auto $measure * 5;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      width: 1.95vh;
      height: $measure * 5;
      background-color: map-get($colorbg-options, d);
      @media all and ($viewport-type: $mobile) {
        width: 12px;
      }
    }
    &::before {
      left: 27%;
    }
    &::after {
      right: 27%;
    }
    .b--card-e {
      width: fit-content;
    }
  }
  &__bd {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      width: 1.95vh;
      height: 50vh;
      background-color: map-get($colorbg-options, d);
      @media all and ($viewport-type: $mobile) {
        width: 12px;
      }
    }
    &::before {
      left: 19%;
    }
    &::after {
      right: 19%;
    }
    .b--card-a {
      background: $gradient-n;
      background-color: map-get($color-options, i);
      margin: 0 auto;
      padding: $measure * 6 8%;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('@/assets/img/card-f-bg.png');
        background-size: cover;
        opacity: 0.2;
      }
    }
  }
  // bd smaller than title
  &--second {
    .b--card-a {
      max-width: 80%;
    }
  }
  // title is bigger or same than bd
  &--third & {
    &__hd {
      max-width: 80%;
    }
  }
}
