// include foundation
@import './framework/foundation/foundation.scss';

// include utilities
@import './framework/utilities/utilities.scss';


::-webkit-scrollbar {
  display: none;
}

/* Structure */
// it contains pin elements and single story slide
// there is an error reported here 
// https://teamthunderfoot.slack.com/archives/C02PJM5UXMW/p1638804753000700
@import './framework/components/page/b--page-a.scss';
@import './framework/components/single-story/b--ss-a.scss';
/* Structure */

// Nav & Lang
@import './framework/components/nav/b--nav-a';
@import './framework/components/lang/b--lang-a';

// Noise
// Decorative Pattern Moving
@import './framework/components/noise/b--noise-a';




.b--card-a {
  position: relative;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__hd {
    position: relative;
    border: 10px solid #f9ddbf;
    background: linear-gradient(0deg, #771f1b, #af433d);
    padding: $measure * 2 $measure * 3;
    max-width: 539px;
    margin-bottom: 30px;
    z-index: 2;
    &__title {
      color: #fff;
      text-align: center;
      font-size: 40px;
      margin: 0px;
    }
  }
  &__bd {
    position: relative;
    padding: $measure * 4 $measure * 3;
    border: 10px solid #aa3e39;
    background: linear-gradient(0deg, #ce9e97, #fdf0e9);
    max-width: 428px;
    z-index: 2;
    &__content {
      font-size: 25px;
      font-weight: 100;
      margin: 0px;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 29%;
    width: 20px;
    height: 700px;
    background-color: #1c0c06;
    z-index: 0;
  }
  &::after {
    left: 130px;
  }
  &::before {
    right: 130px;
  }
}

.b--card-b {
  position: relative;
  display: block;
  margin-left: 100px;
  height: fit-content;
  max-width: 200px;
  padding: $measure * 5 $measure * 4;
  border: 10px solid #f9ddbf;
  background-color: #f1cdba;
  &__content {
    margin: 0px;
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
  }
  &::before {
    content: 'i';
    position: absolute;
    top: -32px;
    left: -32px;
    background-color: #802621;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 10px solid #f9ddbf;
    color: #fff;
    font-size: 40px;
    text-align: center;
  }
}

.b--bird-a {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 3;
  border: 1px solid red;
}



.b--progress-a {
  position: fixed;
  bottom: 10%;
  width: 100%;
  &__wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #be564b;
    border-radius: 100px;
    padding: 8px 16px;
    width: fit-content;
    margin: 0 auto;
    &__item {
      background-color: #f1cdbb;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &:hover {
        transform: scale(1.2);
      }
      &.is-current {
        transform: scale(2);
      }
    }
  }
}

#next {
  background-color: yellow;
  position: absolute;
  bottom: 10%;
  left: 60%;
  margin-right: 5px;
  z-index: 10000;
}

#prev {
  background-color: yellow;
  position: absolute;
  bottom: 10%;
  right: 60%;
  margin-right: 5px;
  z-index: 10000;
}

.disabled {
  pointer-events: none;
}
