// include foundation
@import './framework/foundation/foundation';

// include utilities
@import './framework/utilities/utilities';


::-webkit-scrollbar {
  display: none;
}

@import './framework/components/noise/b--noise-a';

// Structure & Layout
@import './framework/components/page/b--page-a.scss';
@import './framework/components/single-story/b--ss-a.scss';


// Navbar
@import './framework/components/nav/b--nav-a.scss';
@import './framework/components/lang/b--lang-a.scss';

// Preloader
@import './framework/components/preloader/b--preloader-a.scss';


/* Chapter 1 */
@import './framework/components/chapter/b--chapter1-a.scss';

// Intro
@import './framework/components/intro/b--intro-a.scss';

// Cards
@import './framework/components/card/b--card-a.scss';
@import './framework/components/card/b--card-b.scss';
@import './framework/components/card/b--card-c.scss';

// Content
@import './framework/components/content/b--content-a.scss';

// Content
@import './framework/components/quote/b--quote-a.scss';

// Motion
@import './framework/components/motion/b--motion-a.scss';

// Chapter Information
@import './framework/components/info-chapter/b--info-chapter-a.scss';
@import './framework/components/info-window/b--info-window-a.scss';

.b--bird-a {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 3;
  border: 1px solid red;
}





