// include foundation
@import './framework/foundation/foundation';

// include utilities
@import './framework/utilities/utilities';


::-webkit-scrollbar {
  display: none;
}

@import './framework/components/noise/b--noise-a';

// Structure & Layout
@import './framework/components/page/b--page-a.scss';
@import './framework/components/single-story/b--ss-a.scss';


// Navbar
@import './framework/components/nav/b--nav-a.scss';
@import './framework/components/lang/b--lang-a.scss';

// Preloader
@import './framework/components/preloader/b--preloader-a.scss';


/* Chapter 1 */
@import './framework/components/chapter/b--chapter1-a.scss';

// Intro
@import './framework/components/intro/b--intro-a.scss';

// Cards
@import './framework/components/card/b--card-a.scss';
@import './framework/components/card/b--card-b.scss';


// Content
@import './framework/components/content/b--content-a.scss';



.b--bird-a {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 3;
  border: 1px solid red;
}


// 188 × 194
.b--test-a {
  position: absolute;
  left: 25%;
  bottom: 0;
  z-index: 3;
  width: 188px;
  height: 194px;
  // border: 1px solid red;
  background: url('@/assets/img/test4.png');
  animation-name: sprite; 
  animation-duration: .2s;
  animation-timing-function: steps(16);
  animation-iteration-count: infinite;
}

@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -3008px; }
}


