.b--social-a {
  padding-left: 0;
  &__list-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: $measure * 3;
    }
    &__link {
      @include make-icon-a($border-color: b);
      cursor: pointer;
      svg {
        @include make-icon-a-media($icon-color: b);
      }
      &:hover,
      &:focus {
        @include make-icon-a-media-interaction($icon-color: b);
      }
    }
  }
}
