.b--video-b{
    position: relative;
    clip-path: polygon(3% 0, 100% 0%, 100% 94%, 7% 94%, 0 100%, 3% 93%);
    pointer-events: none;
    &__media{
        display: block;
        width: 100%;
        height: auto;
    }
    &__wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: map-get($color-options, f);
        &__artwork{
            width: 97%;
            display: block;
            margin: 0 0 0 auto;
        }
    }
}