.b--info-window-a{
    position: relative;
    left: $measure*3;
    z-index:29;
    background: map-get($colorbg-options , e );
    padding: 10px;
    border: 5px solid map-get($color-options , j );
    max-width: 250px;
    transition: all 0.5s 0s ease;
    opacity: 0;
    &--is-visible{
        opacity: 1;
        pointer-events: all;
    }
    &__content{
        @include make-font-f();
        padding:10px;
    }
}