@mixin headings(){
  h2{
    @include make-font-b();
    padding-top: $measure;
    margin-bottom: $measure*3;
  }
  h3{ 
    @include make-font-c();
    padding-top: $measure;
    margin-bottom: $measure*3; 
  }
  h4{ 
    @include make-font-d();
    margin-bottom: $measure*3;
  }
  h5 {
    @include make-font-e();
    margin-bottom: $measure*2.5;
    text-transform: uppercase;
  }
  h6 {
    @include make-font-f();
    opacity: 0.7;
  }
}

@mixin headings-color($_color-a){
  h1,h2,h3,h4,h5,h6{   
    color: $_color-a;
  }
}