.b--chapter7-a {
  .b--ss-a {
    &__bg-items__parallax {
      right: 13.8%;
    }
    &__ft-items__parallax {
      right: 19.1%;
    }
  }
  &__content {
    position: absolute;
    bottom: 29.1%;
    left: 5.8%;
    width: 14.11%;
    @include make-position-a();
    // max-height: calc(60.25vh - 16.79vh - $measure * 4);
    // card-h
    &--second {
      top: 7.32%;
      left: 56.12%;
      width: 6.38%;
    }
    // card-h
    &--third {
      top: 7.32%;
      left: 65.32%;
      width: 6.97%;
      @media all and ($viewport-type: $tabletl) {
        width: 9%;
      }
      @media all and ($viewport-type: $tablets) {
        width: 8%;
      }
    }
  }
}
