.b--chapter3-a {
  &__content {
    position: absolute;
    bottom: 26.79%;
    left: 5.75%;
    width: 15.65%;
    @include make-position-a();
    z-index: 1;
    // info chart
    &--second {
      bottom: 46.87%;
      left: 27.15%;
      width: 8.21%;
    }
    // wheel
    &--third {
      left: 49.5%;
      top: 17.5%;
      width: 10vh;
      height: 10vh;
      @include make-wheel();
    }
  }
  // flags
  &__artwork {
    position: absolute;
    left: 0%;
    top: 9.53%;
    z-index: 1;
    //right group
    &--second {
      left: 79.94%;
      top: 9.53%;
    }
  }
}
