.b--chapter4-a {
    &__content {
        // cards
        position: absolute;
        bottom: 20,99%;
        left: 9.95%;

        // quote
        &__second {
            bottom: 52.92%;
            left: 73.92%;
            width: 16.51%;
            max-width: calc(100vw - 60px);
            max-height: calc(100vh - 55.08vh - $measure * 4);

        }
    }
    // tent
    &__artwork {
        position: absolute;
        left: 70.04%;
        bottom: 0;
    }
    
}