.b--chapter10-a {
  &.b--page-a__item {
    z-index: 1;
  }
  .b--ss-a {
    &__ft-items{
      &__media{
        z-index: -1;
      }
    }
  }
  &__content {
    // title
    position: absolute;
    bottom: 34.63%;
    left: 12.57%;
    width: 10.9%;
    @include make-position-a();
    @media all and ($viewport-type: $mobile) {
      bottom: 24.63%;
    }
    // card-f corrections
    .b--card-f {
      &__hd {
        @media all and ($viewport-type: $laptop) {
          margin: 0 auto $measure * 3;
          max-width: 100% !important;
        }
        &:before,
        &:after {
          @media all and ($viewport-type: $laptop) {
            height: $measure * 3;
          }
        }
      }
      &__bd {
        &::before,
        &::after {
          height: 16.7vh;
          @media all and ($viewport-type: $mobile) {
            height: 7.1vh;
          }
        }
        .b--card-a {
          @media all and ($viewport-type: $mobile) {
            padding: $measure * 2 5%;
          }
          @media all and (max-height: 480px) {
            @include make-card-a-shadow();
          }
          &__wrapper {
            @media all and (max-height: 480px) {
              @include make-card-a-wrapper-scroll();
            }
          }
        }
      }
      // spanish card f corrections
      &--es {
        .b--card-f {
          &__hd {
            max-width: 100%;
            margin-bottom: $measure * 2;
            &:after,
            &:before {
              height: $measure * 2;
            }
          }
          .b--card-a {
            @media all and (max-height: 520px) {
              @include make-card-a-shadow();
            }
            &__wrapper {
              @media all and (max-height: 520px) {
                @include make-card-a-wrapper-scroll();
              }
            }
          }
        }
      }
      // french card f corrections
      &--fr {
        .b--card-f {
          &__hd {
            max-width: 100%;
            margin-bottom: $measure * 2;
            &:after,
            &:before {
              height: $measure * 2;
            }
          }
          &__bd {
            &:after,
            &:before {
              height: 10.72vh;
            }
            @media all and ($viewport-type: $laptop) {
              &:after,
              &:before {
                height: 10.3vh;
              }
              &:before {
                left: 28%;
              }
              &:after {
                right: 28%;
              }
            }
            .b--card-a {
              @media all and (max-height: 560px) {
                @include make-card-a-shadow();
              }
              &__wrapper {
                @media all and (max-height: 560px) {
                  @include make-card-a-wrapper-scroll();
                }
              }
            }
          }
        }
      }
    }
    // french content corrections
    &--fr {
      bottom: 28.63%;
      @media all and (min-width: $mobile) and ($viewport-type: $laptop) {
        width: 13.9%;
        left: 11.17%;
        bottom: 27.63%;
      }
    }
  }
  // fisherman animation
  &__artwork {
    position: absolute;
    bottom: 4.5%;
    left: 37.5%;
    z-index: 10;

    // plant animation
    &--second {
      bottom: -7.8%;
      left: 87.9%;
      @media all and ($viewport-type: $tabletl) {
        bottom: -5%;
      }
    }
  }
  // chapter divider
  &__divider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    &__media {
      position: absolute;
      top: 0;
      bottom: auto;
      height: 100vh;
      &--left {
        left: -21%;
      }
      &--right {
        top: auto;
        bottom: 0;
        height: 60.83vh;
        right: -20.5%;
      }
    }
  }
}
