.b--chapter8-a {
  &__content {
    position: absolute;
    bottom: 33.11%;
    left: 6.44%;
    width: 13.77%;
    @include make-position-a();
    &--second {
      bottom: 38.36%;
      left: 23.08%;
      width: 6.44%;
      @include make-position-a();
    }
  }
}
