.b--chapter2-a {
  &__content {
    bottom: 31.48%;
    left: 7%;
    width: 37.76%;
    height: 85.15%;
    max-width: calc(100vw - 140px);
    max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
    @media all and ($viewport-type: $tabletl) {
      height: auto;
      max-height: none;
      // bottom: 34.48%;
      bottom: auto;
      top: 12%;
    }
    @media all and ($viewport-type: $mobile) {
      // bottom: 34.48%;
      top: 8%;
      left: 62%;
      width: calc(100vw - 80px + $measure * 10);
      max-width: none;
    }
    .b--card-e {
      width: fit-content;
      position: absolute;
      top: 3.9vh * 2;
      left: 27vh;
      // right: calc(100% - 3.9vh * 2);
      max-width: calc(100vw - 80px);
      @media all and ($viewport-type: $tabletl) {
        top: calc(3.9vh - $measure * 2);
        right: calc(100% - 3.9vh - $measure * 2);
      }
      @media all and ($viewport-type: $mobile) {
        // top: -1.5vh*2;
        // right: calc(100% - 1.5vh*2);
        position: relative;
        top: auto;
        right: auto;
        margin: 0 auto $measure;
      }
    }
  }
  &__artwork {
    position: absolute;
    z-index: 150;
    top: 51%;
    left: 44.8%;
    width: 2.96%;
    height: 14.06%;
    @media all and ($viewport-type: $laptop) {
      top: 51.8%;
      left: 73.4%;
    }
    @media all and ($viewport-type: $tabletl) {
      top: 51.5%;
      left: 73.5%;
    }
  }
}
