.b--chapter6-a {

    &__content {
        // cards
        position: absolute;
        bottom: 12.6%;
        left: 3.62%;
        width: 24.02%;
        max-width: calc(100vw - 60px);
        @media all and ($viewport-type: $tabletm) {
            width: 100%;
            max-width: calc(100vw - 60px);
        }
        
        // wheel
        &--second {
            left: 66.04%;
            bottom: 58.55%;
            width: 12.5vh;
            height: 12.5vh;
            background: map-get($colorbg-options , j );
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            &__media {
                width: 10vh;
                height: 10vh;
                @include make-wheel();
            }

        }

        // quote
        &--third {
            position: absolute;
            width: 18.07%;
            left: 69.16%;
            bottom: 12.4%;
        }
    }



    
}