.b--chapter10-a {
  &__content {
    // title
    position: absolute;
    bottom: 34.63%;
    left: 12.57%;
    width: 10.9%;
    @include make-position-a();
    .b--card-f__bd {
      &::before,
      &::after {
        height: 16.7vh;
      }
    }
  }
}
