.b--chapter1-a {
  // intro position only
  &__content {
    position: absolute;
    bottom: 16.79%;
    left: 2.81%;
    width: 11.91%;
    max-width: calc(100vw - 100px);
    max-height: calc(60.25vh - 16.79vh - $measure * 4);
    @media all and ($viewport-type: $laptop) {
      left: 2.31%;
      bottom: 19%;
    }
    @media all and ($viewport-type: $tabletl) {
      width: 12%;
      bottom: 19%;
    }
    @media all and ($viewport-type: $tablets) {
      max-width: calc(100vw - 60px);
    }
    // intro second box card-a
    &--second {
      bottom: 17.77%;
      left: 17.5%;
      width: 12.09%;
      max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
      @media all and ($viewport-type: $laptop) {
        // left: 17%;
        // width: 9.9%;
      }
      @media all and ($viewport-type: $tabletl) {
        // width: 9.9%;
      }
      @media all and ($viewport-type: $tablets) {
        // max-width: calc(100vw - 100px);
      }
      .b--card-a {
        @media all and (max-height: 800px) {
          @include make-card-a-shadow();
        }
        @media all and ($viewport-type: 430px) {
          @include make-card-a-shadow();
        }
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
          @include make-card-a-shadow();
        }
        &__wrapper {
          @media all and (max-height: 800px) {
            @include make-card-a-wrapper-scroll();
          }
          @media all and ($viewport-type: 430px) {
            @include make-card-a-wrapper-scroll();
          }
          @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            @include make-card-a-wrapper-scroll();
          }
        }
      }
      &--es {
        .b--card-a {
          @media all and (max-height: 700px) {
            @include make-card-a-shadow();
          }
          @media all and ($viewport-type: 430px) {
            @include make-card-a-shadow();
          }
          @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            @include make-card-a-shadow();
          }
          &__wrapper {
            @media all and (max-height: 700px) {
              @include make-card-a-wrapper-scroll();
            }
            @media all and ($viewport-type: 430px) {
              @include make-card-a-wrapper-scroll();
            }
            @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
              @include make-card-a-wrapper-scroll();
            }
          }
        }
      }
      &--fr {
        .b--card-a {
          @media all and (max-height: 645px) {
            @include make-card-a-shadow();
          }
          @media all and ($viewport-type: 430px) {
            @include make-card-a-shadow();
          }
          @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            @include make-card-a-shadow();
          }
          &__wrapper {
            @media all and (max-height: 645px) {
              @include make-card-a-wrapper-scroll();
            }
            @media all and ($viewport-type: 430px) {
              @include make-card-a-wrapper-scroll();
            }
            @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
              @include make-card-a-wrapper-scroll();
            }
          }
        }
      }
    }
    // card-d
    &--third {
      bottom: 31.48%;
      left: 63.75%;
      width: 17.48%;
      height: 85.15%;
      max-width: calc(100vw - 140px);
      max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
      @media all and ($viewport-type: $tabletl) {
        height: auto;
        max-height: none;
        // bottom: 34.48%;
        bottom: auto;
        top: 12%;
      }
      @media all and ($viewport-type: $mobile) {
        bottom: 34.48%;
      }
    }
    &--fr {
      width: 12.91%;
      @media all and ($viewport-type: $laptop) {
        width: 13%;
      }
      @media all and ($viewport-type: $tabletl) {
        width: 12%;
        left: 2.81%;
        bottom: 19%;
      }
      @media all and ($viewport-type: $tablets) {
        max-width: calc(100vw - 60px);
      }
    }
  }

  &__artwork {
    position: absolute;
    z-index: 150;
    @include make-position-a();

    // Gif top left
    &--second {
      bottom: 60.25%;
      left: 2.77%;
      width: 4.19%;
      height: 28.8%;
      max-height: calc(100vh - 60.25vh - $measure * 4);
    }

    // Browser
    &--third {
      top: 8.3%;
      left: 31.2%;
      width: 5.61%;
      height: 21.48%;
    }

    // TV
    &--fourth {
      bottom: 27.44%;
      left: 31.09%;
      width: 10.2%;
      max-height: calc(100vh - 27.44vh - $measure * 4);
    }

    // bubble
    &--fifth {
      top: 51%;
      left: 72.8%;
      width: 2.96%;
      height: 14.06%;
      @media all and ($viewport-type: $laptop) {
        top: 51.8%;
        left: 73.4%;
      }
      @media all and ($viewport-type: $tabletl) {
        top: 51.5%;
        left: 73.5%;
      }
    }
  }
}
