.b--chapter4-a {

    .b--ss-a {
        // bigger z-index to be shown above ft items
        &__content {
            z-index: 10;
        }
    }

    &__content {
        // cards
        position: absolute;
        bottom: 18.99%;
        left: 5.41%;
        width: 21.55%;
        @include make-position-a();
        @media all and ($viewport-type: $tabletm) {
            width: 100%;
        }

        // quote
        &--second {
            bottom: 58.72%;
            left: 75.32%;
            width: 16.91%;
            @include make-position-a();
            max-height: calc(100vh - 55.08vh - $measure * 4);
        }

        // move card f head and bottom legs
        .b--card-f {
            &__hd {
                margin: 0 auto $measure*3;
                &:before, &:after {
                    height: $measure*3;
                }
            }
            &__bd {
                &:before {
                    left: 25%;
                }
                &:after {
                    right: 25%;
                }
            }
        }
    }
    // tent
    &__artwork {
        position: absolute;
        width: 23.05%;
        left: 70.61%;
        bottom: -0.5%;
    }


    
}