.b--chapter2-a {
  &__content {
    // title
    position: absolute;
    bottom: 26.79%;
    left: 2.81%;
    width: 25.54%;
    max-width: calc(100vw - 60px);
    // tv
    &--second {
      bottom: 43%;
      left: 48.24%;
      width: 24.36%;
      height: 39.02%;
      @media all and ($viewport-type: $mobile) {
        left: 51.44%;
      }
    }
  }
  &__artwork {
    position: absolute;
    z-index: 150;
    bottom: 38.6%;
    left: 42.01%;
    &--second {
      bottom: 38.5%;
      left: 72.91%;
    }
  }
}
