.b--chapter14-a {
  &__content {
    position: absolute;
    bottom: 33.11%;
    left: 9.04%;
    width: 11.17%;
    @include make-position-a();
    &--second {
      bottom: 38.36%;
      left: 23.6%;
      width: 10.62%;
      @include make-position-a();
    }
    &--third {
      bottom: auto;
      top: 25.19%;
      left: 65.18%;
      width: 10.05%;
    }
    &--fourth {
      width: fit-content;
      bottom: 9%;
      left: 82.5%;
    }
  }
  &__artwork {
    position: absolute;
    left: 46.7%;
    top: 0.73%;
    width: 17.93%;
    height: 52.83vh;
    max-height: 52.83vh;
    z-index: 1;
    &--second {
      left: 37.9%;
      top: 68.65%;
      width: 10vh;
      height: 10vh;
      @include make-wheel();
    }
  }

  // content has more z-index than ft items
  .b--ss-a {
    &__content {
      z-index: 90;
    }
  }
}
