.b--chapter9-a {
  &__content {
    // cards
    position: absolute;
    bottom: 34.99%;
    left: 22.59%;
    width: 13.93%;
    max-width: calc(100vw - 60px);
    @include make-position-a();
    @media all and ($viewport-type: $tablets) {
      width: 100%;
    }

    &--fr {
      width: 14.8%;
    }

    // move card f head and bottom legs
    .b--card-f {
      &__hd {
        margin: 0 auto $measure * 4;
        &:before,
        &:after {
          height: $measure * 4;
        }
      }
      &__bd {
        &:before {
          left: 25%;
        }
        &:after {
          right: 25%;
        }
        &:before,
        &:after {
          height: 22.32vh;
        }
      }
    }
  }
  // algae 1 animation
  &__artwork {
    position: absolute;
    bottom: 12.4%;
    left: 51.5%;
    // algae 2 animation
    &--second {
      bottom: 12.4%;
      left: 36.1%;
    }
    // algae 1 animation
    &--third {
      bottom: 12.4%;
      left: 79.2%;
    }
  }

  &__info {
    // info window
    position: absolute;
    bottom: 45.88%;
    left: 38.91%;
    width: 6.51%;
    @include make-position-a();
    @media all and ($viewport-type: $mobile) {
      bottom: 51.08%;
      left: 83.4%;
      width: 6.01%;
      @include make-position-a();
    }

    // extra padding top and bottom to this window scene
    .b--info-window-a {
      padding: $measure * 3 $measure * 2;
    }
  }
}
