.b--chapter1-a {
  // intro position only
  &__content {
    position: absolute;
    bottom: 16.79%;
    left: 2.81%;
    width: 11.91%;
    max-width: calc(100vw - 60px);
    max-height: calc(60.25vh - 16.79vh - $measure * 4);
    // intro second box
    &--second {
      bottom: 17.77%;
      left: 17.5%;
      width: 12.09%;
      max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
    }
    // card-e
    &--third {
      bottom: 76.4%;
      left: 57.46%;
      width: 12.09%;
      max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
    }
    // card-d
    &--fourth {
      bottom: 31.48%;
      left: 63.75%;
      width: 17.48%;
      height: 85.15%;
      max-height: calc(100vh - 19.04vh - 17.77vh - $measure * 4);
    }
  }

  &__info {
    position: absolute;
    bottom: 67.08%;
    left: 84.4%;
    width: 5.62%;
    max-width: calc(100vw - 60px);
  }

  &__artwork {
    position: absolute;
    z-index: 150;
    max-width: calc(100vw - 60px);

    // Gif top left
    &--second {
      bottom: 60.25%;
      left: 2.17%;
      width: 4.19%;
      max-height: calc(100vh - 60.25vh - $measure * 4);
    }

    // Browser
    &--third {
      top: 6%;
      left: 31.2%;
    }

    // TV
    &--fourth {
      bottom: 27.44%;
      left: 31.09%;
      width: 10.2%;
      max-height: calc(100vh - 27.44vh - $measure * 4);
    }

    &--fifth {
      top: 47%;
      left: 70.8%;
    }
  }
  &__item {
    position: absolute;
    z-index: 150;
    bottom: 55.08%;
    left: 43.92%;
    width: 11.31%;
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 55.08vh - $measure * 4);
  }
}
