.b--chapter14-a {
  &__content {
    position: absolute;
    bottom: 33.11%;
    left: 9.04%;
    width: 11.17%;
    @include make-position-a();
    &--second {
      bottom: 38.36%;
      left: 23.6%;
      width: 10.62%;
      @include make-position-a();
    }
  }
}
