.b--chapter6-a {
  &__content {
    // cards
    position: absolute;
    bottom: 13.3%;
    left: 4%;
    width: 24.02%;
    @include make-position-a();
    @media all and ($viewport-type: $tabletm) {
      width: 100%;
      max-width: calc(100vw - 90px);
    }

    // wheel
    &--second {
      left: 66.04%;
      bottom: 58.55%;
      width: 12.5vh;
      height: 12.5vh;
      background: map-get($colorbg-options, j);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &__media {
        width: 10vh;
        height: 10vh;
        @include make-wheel();
      }
    }

    // quote
    &--third {
      position: absolute;
      width: 18.07%;
      left: 69.16%;
      bottom: 10.8%;
      @media all and ($viewport-type: $mobile) {
        bottom: 22.8%;
        left: 81.16%;
      }
    }

    // move card f head and bottom legs
    .b--card-f {
      &__hd {
        margin: 0 auto $measure * 4;
        @media all and ($viewport-type: $mobile) {
          margin: 0 auto $measure * 3;
          max-width: 100% !important;
        }
        &:before,
        &:after {
          height: $measure * 4;
          @media all and ($viewport-type: $mobile) {
            height: $measure * 3;
          }
        }
      }
      &__bd {
        .b--card-a {
          @media all and ($viewport-type: $mobile) {
            padding: $measure * 3 5%;
          }
        }
      }
    }
    .b--quote-a {
      &__meta {
        @media all and ($viewport-type: $mobile) {
          width: 90% !important;
        }
      }
    }
  }
}
