.b--chapter2-a {
  // content has more z-index than ft items
  .b--ss-a {
    &__content {
      z-index: 90;
    }
  }

  &__content {
    // title
    position: absolute;
    bottom: 26.79%;
    left: 2.81%;
    width: 25.54%;
    @include make-position-a();
    @media all and ($viewport-type: $mobile) {
      bottom: 20%;
      left: 6.81%;
    }
    // tv
    &--second {
      bottom: 43%;
      // left: 48.24%;
      left: 54.71%;
      width: 24.36%;
      height: 39.02%;
      @media all and ($viewport-type: $mobile) {
        left: 56.1%;
      }
    }
  }
  &__artwork {
    position: absolute;
    z-index: 150;
    bottom: 39.2%;
    // left: 42.01%;
    left: 47.41%;
    height: 14.45vh;
    img {
      max-height: 100%;
    }
    &--second {
      bottom: 39.1%;
      // left: 72.91%;
      left: 79.38%;
      height: 15.03vh;
    }
  }
  // mobile adjustment of card-f
  @media all and ($viewport-type: $mobile) {
    .b--card-f {
      &__hd {
        margin: 0 auto $measure * 3;
        &:before,
        &:after {
          height: $measure * 3;
        }
      }
    }
  }
}
