.b--chapter5-a {
  &__content {
    position: absolute;
    bottom: 13.79%;
    left: 5.32%;
    width: 23.75%;
    @include make-position-a();
    &--second {
      bottom: 47.26%;
      left: 31.45%;
      width: 9.71%;
      @include make-position-a();
    }
  }
}
