.b--chapter11-a {
  // cards
  &__content {
    position: absolute;
    bottom: 37.79%;
    left: 1.79%;
    width: 15.04%;
    @include make-position-a();
    @media all and ($viewport-type: $tablets) {
      width: 100%;
      bottom: 32.79%;
    }
    @media all and ($viewport-type: $mobile) {
      bottom: 28.79%;
    }
    // french and spanish adjustments
    &--fr, &--es {
      bottom: 29.79%;
      .b--card-f {
        &__bd {
          &:after, &:before {
            height: 11.5vh!important;
          }
        }
      }
    }
  }
  // boxes
  &__media {
    position: absolute;
    left: 15.97%;
    bottom: 2.5%;
    width: 40%;
  }
  // info window
  &__info {
    position: absolute;
    bottom: 61.08%;
    left: 30.08%;
    width: 7%;
    @include make-position-a();
    @media all and ($viewport-type: $mobile) {
      bottom: 51.08%;
      left: 83.4%;
      width: 6.01%;
      @include make-position-a();
    }
  }
  // animation
  &__artwork {
    position: absolute;
    bottom: 5.736%;
    left: 90.5%;
    width: 7.06%;
    // blink
    &--second {
      bottom: 63.536%;
      left: 23.95%;
      width: 7.06%;
      height: 10%;
    }
    // blink
    &--third {
      bottom: 39.936%;
      left: 47.65%;
      width: 7.06%;
      height: 10%;
    }
  }
  // move card f head and bottom legs
  .b--card-f {
    &__hd {
      margin: 0 auto $measure * 4;
      &:before,
      &:after {
        height: $measure * 4;
      }
      @media all and ($viewport-type: $laptop) {
        margin: 0 auto $measure * 3;
        max-width: 100%!important;
      }
      &:before,
      &:after {
        @media all and ($viewport-type: $laptop) {
          height: $measure * 3;
        }
      }
    }
    &__bd {
      &:before {
        left: 25%;
      }
      &:after {
        right: 25%;
      }
      &:before,
      &:after {
        height: 19.5vh;
        @media all and ($viewport-type: $tablets) {
          height: 14.5vh;
        }
        @media all and ($viewport-type: $mobile) {
          height: 10.5vh;
        }
      }
    }
  }
}
