.b--chapter12-a {
  &__content {
    position: absolute;
    bottom: 26.11%;
    left: 17.14%;
    width: 19.05%;
    @include make-position-a();
    // info window
    &--second {
      bottom: 38.96%;
      left: 38.9%;
      width: 9.51%;
      @include make-position-a();
      @media all and ($viewport-type: $laptop) {
        bottom: 37.2%;
        left: 38.3%;
        width: 12.21%;
      }
    }
  }
  .b--ss-a {
    // bigger z-index to be shown above ft items
    &__content {
      z-index: 10;
    }
  }
  // animation
  &__artwork {
    position: absolute;
    bottom: 49%;
    left: 49.5%;
  }
  &__divider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    &__media {
      position: absolute;
      top: 0;
      bottom: auto;
      height: 100vh;
      &--left {
        left: -1.5%;
      }
    }
  }
}
