.b--chapter4-a {

    .b--ss-a {
        // bigger z-index to be shown above ft items
        &__content {
            z-index: 10;
        }
    }

    &__content {
        // cards
        position: absolute;
        bottom: 19.99%;
        left: 5.79%;
        width: 19.09%;
        max-width: calc(100vw - 60px);
        @media all and ($viewport-type: $tabletm) {
            width: 100%;
            max-width: calc(100vw - 60px);
        }

        // quote
        &--second {
            bottom: 58.72%;
            left: 75.32%;
            width: 16.91%;
            max-width: calc(100vw - 60px);
            max-height: calc(100vh - 55.08vh - $measure * 4);
        }
    }
    // tent
    &__artwork {
        position: absolute;
        width: 23.05%;
        left: 70.61%;
        bottom: -0.5%;
    }


    
}