/*
    Foundations
*/



$color-a:#0a1432;
$color-b:#2c3a64;
$color-c:#421c0e;
$color-d:#aa3e39;

$color-b:#F98968;
$color-c:#FFF2E4;


$color-d:#AA3E39;
$color-e:#701C18;


$color-f:#F98968;
$color-g:#F98968;


$color-h:#2C3A64;
$color-i:#0A1432;


$color-j:#454E3F;
$color-k:#21241F;

$color-l:#F99746;
$color-m:#FFEC34;
$color-n:#84C7FC;


$color-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
  f: $color-f,
  g: $color-g,
  h: $color-h,
  i: $color-i,
  j: $color-j,
  k: $color-k,
  l: $color-l,
  m: $color-m,
  n: $color-n
);

// needs to be defined
$colorbg-options: (
  a: $color-d,
  b: $color-e,
  c: $color-c
);

/* Typography */
$type-a : 'Proxima Nova', sans-serif;
$type-b : 'Soehne Breit', sans-serif;

// body default
$font-body-size: 16px; /* 1rem = 16px */
$line-height: 1.5;

/* Grid */
//Container
$g-container-width: 1300px;

$all: 0;
$laptop: 1440px;
$tabletl: 1200px;
$tabletm: 992px;
$tablets: 768px;
$mobile: 600px;
$viewport-type: max-width;
$viewport-layouts: (
  'all': $all,
  'laptop': $laptop,
  'tabletl': $tabletl,
  'tabletm': $tabletm,
  'tablets': $tablets,
  'mobile': $mobile,
);
$columns: 12;
$gutter-width: 2rem;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// Use for almost all Uitlities:
// Display, Aspect Ratio, Flex, Float, Justify, Spacing, Text-align
$breakpoints-grid: (
  all: $all,
  laptop: $laptop,
  tabletl: $tabletl,
  tabletm: $tabletm,
  mobile: $mobile,
) !default;

/*
    End Foundations
*/

// Measure
$measure: 0.5rem; /* 0.5rem = 8px */

// border
$border-radius-a: 1px;

// time
$time-a: 0.3s;

// header height
$header-height: 92px;
$header-height-mobile: 88px;

// footer height
$footer-height: 87px;