/*
    Foundations
*/

// BROWNS
$color-a: #421c0e;
$color-b: #aa3e39;
$color-c: #dc8e7a;
$color-d: #744a45;
$color-e: #b36148;

// WHITE & "BLACK"
$color-f: #ffffff;
$color-g: #2f2929;

// CREAM
$color-h: #fff2e4;
$color-i: #f1cdba;
$color-j: #f9ddbf;

// GREY
$color-k: #c7c7c7;
$color-l: #b4bfd1;
$color-m: #a4b0c6;

// ORANGE
$color-n: #f99746;
$color-o: #e8945b;
$color-p: #f98968;

// GREEN
$color-q: #57624f;
$color-r: #79b27f;
$color-s: #3d4538;

// BLUE
$color-t: #2c3a64;
$color-u: #33579e;
$color-v: #35488b;
$color-w: #33579e;
$color-x: #232e3d;
$color-z: #006EB5;

// BLACK TEXT COLOR
$color-y: #000;

$color-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
  f: $color-f,
  g: $color-g,
  h: $color-h,
  i: $color-i,
  j: $color-j,
  k: $color-k,
  l: $color-l,
  m: $color-m,
  n: $color-n,
  o: $color-o,
  p: $color-p,
  q: $color-q,
  r: $color-r,
  s: $color-s,
  t: $color-t,
  u: $color-u,
  v: $color-v,
  w: $color-w,
  x: $color-x,
  y: $color-y,
  z: $color-z,
);

// gradients
$gradient-a: linear-gradient(
  180deg,
  #b84c42 0%,
  rgba(184, 76, 66, 0) 100%
); // Gradient Brown1
$gradient-b: linear-gradient(
  180deg,
  #e1beb1 0%,
  rgba(225, 190, 177, 0) 100%
); // Gradient Brown2
$gradient-c: linear-gradient(
  156.66deg,
  #b84c42 -7.55%,
  #57201b 101.54%
); // Gradient Brown3
$gradient-d: linear-gradient(
  180deg,
  #f1cdba 0%,
  rgba(241, 205, 186, 0) 100%
); // Gradient Cream1
$gradient-e: linear-gradient(
  180deg,
  #f9ddbf 3.39%,
  rgba(249, 221, 191, 0) 91.93%
); // Gradient Cream2
$gradient-f: linear-gradient(
  180deg,
  #fafafa 24.56%,
  rgba(250, 250, 250, 0) 161.83%
); // Gradient White
$gradient-g: linear-gradient(
  180deg,
  #fff3e9 100%,
  rgba(255, 243, 233, 0.6) 100%
); // Gradient White2
$gradient-h: linear-gradient(
  180deg,
  #f98968 0%,
  rgba(249, 137, 104, 0) 100%
); // Gradient Orange1
$gradient-i: linear-gradient(
  180deg,
  #fca56b 0%,
  rgba(252, 165, 107, 0) 100%
); // Gradient Orange2
$gradient-j: linear-gradient(
  180deg,
  #454e3f 0%,
  rgba(33, 36, 31, 0.45) 100%
); // Gradient Green 1
$gradient-k: linear-gradient(
  218.3deg,
  #2c3a64 22.06%,
  #0a1432 74.88%
); // Gradient Blue1
$gradient-l: linear-gradient(
  360deg,
  /*#33579e 47.51%,
  // #a6c4ff 147.8% */
  #33579e 7.51%,
  #a6c4ff 107.8%
); // Gradient Blue2
$gradient-m: linear-gradient(
  180deg,
  #aa3e39 0%,
  #701c18 100%
); // Gradient Brown Linear Gradient
$gradient-n: linear-gradient(
  180deg,
  rgba(#fff3e9, 1) 0%,
  rgba(#aa3e39, 0.4) 100%
); // Gradient Brown Linear Gradient Card-f

$colorbg-options: (
  a: $color-d,
  b: $color-e,
  c: $color-c,
  d: $color-a,
  e: $color-i,
  f: $color-f,
  g: $color-b,
  h: $color-x,
  i: $color-p,
  j: $color-h
);

/* Typography */
$type-a: 'Sohne Breit', sans-serif;
$type-b: 'Proxima Nova', sans-serif;

// body default
$font-body-size: 16px; /* 1rem = 16px */
$line-height: 1.5;

/* Grid */
//Container
$g-container-width: 1300px;

$all: 0;
$laptop: 1440px;
$tabletl: 1200px;
$tabletm: 992px;
$tablets: 768px;
$mobile: 600px;
$viewport-type: max-width;
$viewport-layouts: (
  'all': $all,
  'laptop': $laptop,
  'tabletl': $tabletl,
  'tabletm': $tabletm,
  'tablets': $tablets,
  'mobile': $mobile,
);
$columns: 12;
$gutter-width: 2rem;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// Use for almost all Uitlities:
// Display, Aspect Ratio, Flex, Float, Justify, Spacing, Text-align
$breakpoints-grid: (
  all: $all,
  laptop: $laptop,
  tabletl: $tabletl,
  tabletm: $tabletm,
  mobile: $mobile,
) !default;

/*
    End Foundations
*/

// Measure
$measure: 0.5rem; /* 0.5rem = 8px */

// border
$border-radius-a: 1px;

// time
$time-a: 0.3s;

// header height
$header-height: 92px;
$header-height-mobile: 88px;

// footer height
$footer-height: 87px;
