/*
    Foundations
*/


// BROWNS
$color-a:#421C0E;
$color-b:#AA3E39;
$color-c:#DC8E7A;
$color-d:#744A45;
$color-e:#B36148;

// WHITE & "BLACK"
$color-f:#FFFFFF;
$color-g:#2F2929;

// CREAM
$color-h:#FFF2E4;
$color-i:#F1CDBA;
$color-j:#F9DDBF;

// GREY
$color-k:#C7C7C7;
$color-l:#B4BFD1;
$color-m:#A4B0C6;

// ORANGE
$color-n:#F99746;
$color-o:#E8945B;
$color-p:#F98968;

// GREEN
$color-q:#57624F;
$color-r:#79B27F;
$color-s:#3D4538;

// BLUE
$color-t:#2C3A64;
$color-u:#33579E;
$color-v:#35488B;
$color-w:#33579E;

$color-options: (
  a: $color-a,
  b: $color-b,
  c: $color-c,
  d: $color-d,
  e: $color-e,
  f: $color-f,
  g: $color-g,
  h: $color-h,
  i: $color-i,
  j: $color-j,
  k: $color-k,
  l: $color-l,
  m: $color-m,
  n: $color-n,
  o: $color-o,
  p: $color-p,
  q: $color-q,
  r: $color-r,
  s: $color-s,
  t: $color-t,
  u: $color-u,
  v: $color-v,
  w: $color-w,
);

// gradients
$gradient-a:linear-gradient(180deg, #B84C42 0%, rgba(184, 76, 66, 0) 100%); // Gradient Brown1
$gradient-b:linear-gradient(180deg, #E1BEB1 0%, rgba(225, 190, 177, 0) 100%); // Gradient Brown2
$gradient-c:linear-gradient(156.66deg, #B84C42 -7.55%, #57201B 101.54%); // Gradient Brown3
$gradient-d:linear-gradient(180deg, #F1CDBA 0%, rgba(241, 205, 186, 0) 100%); // Gradient Cream1
$gradient-e:linear-gradient(180deg, #F9DDBF 3.39%, rgba(249, 221, 191, 0) 91.93%); // Gradient Cream2
$gradient-f:linear-gradient(180deg, #FAFAFA 24.56%, rgba(250, 250, 250, 0) 161.83%); // Gradient White
$gradient-g:linear-gradient(180deg, #FFF3E9 0%, rgba(255, 243, 233, 0.6) 100%); // Gradient White2
$gradient-h:linear-gradient(180deg, #F98968 0%, rgba(249, 137, 104, 0) 100%); // Gradient Orange1
$gradient-i:linear-gradient(180deg, #FCA56B 0%, rgba(252, 165, 107, 0) 100%); // Gradient Orange2
$gradient-j:linear-gradient(180deg, #454E3F 0%, rgba(33, 36, 31, 0.45) 100%); // Gradient Green 1
$gradient-k:linear-gradient(218.3deg, #2C3A64 22.06%, #0A1432 74.88%); // Gradient Blue1
$gradient-l:linear-gradient(360deg, #33579E 47.51%, #A6C4FF 147.8%); // Gradient Blue2

$colorbg-options: (
  a: $color-d,
  b: $color-e,
  c: $color-c
);

/* Typography */
$type-a: 'Sohne Breit', sans-serif;
$type-b: 'Proxima Nova', sans-serif;

// body default
$font-body-size: 16px; /* 1rem = 16px */
$line-height: 1.5;

/* Grid */
//Container
$g-container-width: 1300px;

$all: 0;
$laptop: 1440px;
$tabletl: 1200px;
$tabletm: 992px;
$tablets: 768px;
$mobile: 600px;
$viewport-type: max-width;
$viewport-layouts: (
  'all': $all,
  'laptop': $laptop,
  'tabletl': $tabletl,
  'tabletm': $tabletm,
  'tablets': $tablets,
  'mobile': $mobile,
);
$columns: 12;
$gutter-width: 2rem;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: -1 * $half-gutter-width;

// Use for almost all Uitlities:
// Display, Aspect Ratio, Flex, Float, Justify, Spacing, Text-align
$breakpoints-grid: (
  all: $all,
  laptop: $laptop,
  tabletl: $tabletl,
  tabletm: $tabletm,
  mobile: $mobile,
) !default;

/*
    End Foundations
*/

// Measure
$measure: 0.5rem; /* 0.5rem = 8px */

// border
$border-radius-a: 1px;

// time
$time-a: 0.3s;

// header height
$header-height: 92px;
$header-height-mobile: 88px;

// footer height
$footer-height: 87px;