.b--lang-a {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 302;
  // top: $measure * 7;
  // right: $measure * 7;
  // transition: all 0.5s 0s ease;
  &__btn {
    color: map-get($color-options, z);
    display: flex;
    align-items: center;
    transition: all $time-a ease-in-out;
    &__artwork {
      height: $measure * 3;
      path {
        stroke: map-get($color-options, z);
        transition: all $time-a ease-in-out;
      }
    }
    &__icon {
      height: $measure * 1.2;
      margin-left: -2px;
      transform: rotate(-90deg);
      transition: all $time-a ease-in-out;
      @media all and ($viewport-type: $mobile) {
        display: none;
      }
      path {
        stroke: map-get($color-options, z);
        transition: all $time-a ease-in-out;
      }
    }
    &:hover,
    &:focus-visible,
    &:active {
      color: map-get($color-options, z);
    }
    &:hover &,
    &:focus &,
    &:active & {
      &__artwork,
      &__icon {
        path {
          stroke: map-get($color-options, z);
        }
      }
    }
  }
  &__wrapper {
    position: absolute;
    top: -$measure;
    left: $measure * 6;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all $time-a ease-in-out;
    @media all and ($viewport-type: $mobile) {
      top: -$measure/2;
    }
    &__list-group {
      background-color: $color-f;
      box-shadow: 0px 3px 6px 0px rgba(map-get($color-options, a), 0.16);
      display: inline-flex;
      &__list-item {
        padding: $measure * 1.5 $measure * 2;
        @media all and ($viewport-type: $mobile) {
          padding: $measure $measure * 1.2;
        }
        &__link {
          @include make-font-i();
          text-transform: uppercase;
          color: $color-y;
          text-decoration: none;
          display: block;
          transition: all $time-a ease-in-out;
          &:hover,
          &:focus-visible,
          &:active {
            color: map-get($color-options, k);
          }
        }
        &--is-active & {
          &__link {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
  }
  &--is-active & {
    &__btn {
      &__icon {
        transform: rotate(90deg);
      }
      &__title {
        display: block;
      }
    }
    &__wrapper {
      overflow: initial;
      height: auto;
      pointer-events: all;
      &__list-group {
        // opacity: 1;
      }
    }
  }
}
