.b--info-chapter-a {
    position: relative;
    display: block;
    width: $measure*7;
    height: $measure*7;
    top: $measure*3;
    background: $gradient-m;
    border: $measure solid map-get($color-options , j );
    border-radius: 50%;
    color: map-get($color-options , f );
    text-align: center;
    line-height: 1.2;
    font-family: $type-a;
    font-size: $measure*4;
    cursor: pointer;
    z-index: 50;

}