.b--info-chapter-a{
    width:30px;
    height:30px;
    background:red;
    border-radius: 50%;
    display: block;
    color:#fff;
    z-index: 30;
    text-align: center;
    position:relative;
    line-height: 30px;

}