.b--info-graphic-a {
  position: relative;
  padding: $measure * 3 $measure * 6;
  border: 40px solid map-get($color-options, h);
  background: $gradient-d;
  z-index: 0;
  @media all and ($viewport-type: $mobile) {
    padding: $measure * 3;
    border: 8px solid map-get($color-options, b);
  }
  &__content {
  }
  &__media-wrapper {
    &__media {
    }
  }
}
