.b--quote-a{
    &__content{
        @include make-font-d();
        margin-bottom: 2.34vh;
    }
    &__meta{
        width: 63.48%;
        @media all and ($viewport-type: $mobile) {
            width: 90%;
        }
        &__title{
            @include make-font-g();
            display: inline;
            font-weight: 600;
            @include link-a();
            @include link-a-color($colortext: a);
            &:hover, &:focus, &:active{
            @include link-a-interaction();
            }
        }
        &__subtitle{
            @include make-font-g();
            display: inline;
        }
    }
    &--second{
        color: map-get($color-options , f);
    }
    &--second &{
        &__meta{
            &__title{
                @include link-a-color($colortext: f);
            }
        }
    }
}