.b--quote-a {
  &__content {
    margin-bottom: 2.34vh;
    @include make-font-d();
    &.b--content-a * {
      @include make-font-d();
    }
  }
  &__meta {
    width: 63.48%;
    &::before {
      content: '— ';
      @include make-font-g();
    }
    @media all and ($viewport-type: $mobile) {
      width: 90%;
    }
    &__title {
      @include make-font-g();
      font-weight: 600;
      @include link-a();
      @include link-a-color($colortext: a);
      display: inline;
      &:hover,
      &:focus,
      &:active {
        @include link-a-interaction();
      }
      &:after {
        content: ',';
        @include make-font-g();
      }
    }
    &__subtitle {
      @include make-font-g();
      display: inline;
    }
  }
  &--second {
    text-align: right;
    .b--content-a * {
      color: map-get($color-options, f);
    }
  }
  &--second & {
    &__meta {
      color: map-get($color-options , f );
      width: 55.87%;
      text-align: right;
      float: right;
      &__title {
        @include link-a-color($colortext: f);
      }
      &__subtitle {
        color: map-get($color-options , f );
      }
    }
  }
  &--third {
    text-align: right;
  }
  &--third & {
    &__meta {
      width: 55.87%;
      text-align: right;
      float: right;
    }
  }
}
