.b--progress-b {
  position: fixed;
  bottom: 10%;
  width: 200px;
  right: 0;
  z-index: 100;
  &__wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: map-get($colorbg-options , h );
    border-radius: 100px;
    padding: 8px 16px;
    width: fit-content;
    margin: 0 auto;
    &__item {
      background-color: map-get($colorbg-options , h );
      width: 6px;
      height: 6px;
      border-radius: 50%;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &:hover, &:focus-visible {
        transform: scale(1.2);
      }
      &.is-current {
        transform: scale(2);
      }
    }
  }
  &__arrow{
      background-color: map-get($colorbg-options , h );
      position: absolute;
      bottom: 0;
      margin-right: 5px;
      z-index: 10000;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      &--next {
          left: 60%;
      }
      &--prev{
          right: 60%;
      }
  }
}