.b--progress-a {
  position: fixed;
  bottom: 10%;
  width: 200px;
  right: 0;
  z-index: 100;
  @media all and ($viewport-type: $mobile) {
    width: calc( 100% - 45px);
  }
  &__wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: map-get($colorbg-options , h );
    border-radius: 100px;
    padding: 8px 16px;
    width: fit-content;
    margin: 0 auto;
    &__item {
      background-color: map-get($colorbg-options , h );
      width: 6px;
      height: 6px;
      border-radius: 50%;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &:hover, &:focus-visible {
        transform: scale(1.2);
      }
      &.is-current {
        transform: scale(2);
      }
    }
  }
  &__arrow{
      background-color: map-get($colorbg-options , h );
      position: absolute;
      bottom: 0;
      margin-right: 10px;
      z-index: 10000;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      transition: all $time-a ease-in-out;
      &:last-child{
        margin-right: 0px;
      }
      &--next {
          left: 60%;
          @media all and ($viewport-type: $mobile) {
            // left: 82.5%;
            // margin-right: 0px;
            display: none;
          }
          img {
            left: 18px;
            top: 12px;
            position: absolute;
          }
          
      }
      &--prev {
          left: 32%;
          @media all and ($viewport-type: $mobile) {
            //left: 5%;
            display: none;
          }
          img {
            left: 14px;
            top: 12px;
            position: absolute;
          }  
      }
      &:hover, &:focus-visible{
        background-color:#55606E;
      }
  }
  // mobile scroll indicator
  &--second {
    display: none;
    width: fit-content;
    @media all and ($viewport-type: $mobile) {
      display: block;
      left: 50%;
      bottom: 5%;
    }
    &__artwork {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      &:hover, &:focus-visible{
        background-color: map-get($colorbg-options , h );
      }
    }
    img {
      position: absolute;
      left: 13px;
      top: 13px;
      animation: cycle 2.5s infinite;
      transition: none;
      @keyframes cycle {
        0% {
          transform: translateY(0);
        }

        15% {
          transform: translateY(-30px);
        }

        25% {
          transform: translateY(34px);
          opacity: 0;
        }

        35% {
          transform: translateY(0px);
          opacity: 1;
        }

        50% {
          transform: translateY(0px);
        }

        75% {
          transform: translateY(0px);
        }

        100% {
          transform: translateY(0px);
        }

      }
    }
    &__title {
      font-size: 14px;
      font-family: $type-b;
      text-transform: uppercase;
      line-height: 19.25px;
      text-align: center;
      letter-spacing: 1px;
      color: map-get($color-options, y);
    }
    &--is-hidden {
      display: none;
    }  
  }
}


.disabled {
  pointer-events: none;
  background-color: rgba(241, 205, 186, 0.8);
  opacity: .6;
}