.b--progress-a {
    position: fixed;
    bottom: 10%;
    width: 100%;
    &__wrapper {
      list-style: none;
      display: flex;
      align-items: center;
      background-color: #be564b;
      border-radius: 100px;
      padding: 8px 16px;
      width: fit-content;
      margin: 0 auto;
      &__item {
        background-color: #f1cdbb;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        &:not(:last-child) {
          margin-right: 32px;
        }
        &:hover {
          transform: scale(1.2);
        }
        &.is-current {
          transform: scale(2);
        }
      }
    }
    &__arrow{
        background-color: #be564b;
        position: absolute;
        bottom: 0;
        margin-right: 5px;
        z-index: 10000;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        &--next {
            left: 60%;
        }
        &--prev{
            right: 60%;
        }
    }
}
  
  
.disabled {
    pointer-events: none;
}