.b--progress-a {
  position: fixed;
  bottom: 10%;
  width: 200px;
  right: 0;
  z-index: 100;
  &__wrapper {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: map-get($colorbg-options , h );
    border-radius: 100px;
    padding: 8px 16px;
    width: fit-content;
    margin: 0 auto;
    &__item {
      background-color: map-get($colorbg-options , h );
      width: 6px;
      height: 6px;
      border-radius: 50%;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &:hover {
        transform: scale(1.2);
      }
      &.is-current {
        transform: scale(2);
      }
    }
  }
  &__arrow{
      background-color: map-get($colorbg-options , h );
      position: absolute;
      bottom: 0;
      margin-right: 5px;
      z-index: 10000;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      &--next {
          left: 60%;
          img {
            left: 16px;
            top: 12px;
            position: absolute;
          }
          
      }
      &--prev{
          right: 60%;
          img {
            left: 16px;
            top: 12px;
            position: absolute;
          }
      }
  }
}


.disabled {
  pointer-events: none;
  background-color: red;
  opacity: .6;
}