@mixin make-card-a-wrapper-scroll() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100% + 1px);
  /* firefox */
  scrollbar-width: thin;
  /* safari spacing */
  @media not all and (min-resolution: 0.001dpcm) {
    padding-right: 6px;
  }
}

@mixin make-card-a-scrollbar() {
  ::-webkit-scrollbar {
    display: block;
    -webkit-overflow-scrolling: touch;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(255, 242, 228); 
  }

  ::-webkit-scrollbar-thumb {
    background: map-get($colorbg-options , i ); 
  }

  /* firefox */
  scrollbar-color: map-get($colorbg-options , i ) rgb(255, 242, 228) ;
}

