@mixin make-card-a-wrapper-scroll() {
  overflow: auto;
}

@mixin make-card-a-shadow() {
  &:after {
    content: '';
    height: calc(45px + $measure * 3);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(#fff3e9, 0) 0%,
      rgba(#ce9184, 1) 60%
    );
  }
}
