.b--nav-b{
    &__btn{
        width: 32px;
        height: 32px;
        transition: all $time-a ease-in-out;
        &__dash{
            display: block;
            height: 2px;
            background:map-get($color-options, b);
            transition: all $time-a ease-in-out;
            opacity: 1;
            &:not(:last-child){
                margin-bottom: $measure;
            }
        }
        &:hover{
            opacity: .7;
        }
    }
    &__list-group{
        position: fixed;
        top: $header-height;
        right: 0;
        width: 35%;
        height: calc(100vh - #{$header-height});
        background:map-get($color-options, a);
        padding: $measure*4 $measure*8 $measure*7;
        text-align: left;
        transform: translateX(100%);
        overflow-y: auto;
        transition: all $time-a*2 ease-in-out;
        @media all and ($viewport-type: $tabletl) {
            width: 50%;
        }
        @media all and ($viewport-type: $tabletm) {
            width: 60%;
        }
        @media all and ($viewport-type: $mobile) {
            width: 100%;
            height: calc(100vh - #{$header-height-mobile});
        }
        &__list-item{
            text-decoration: none;
            display: block;
            @include make-font-e();
            color: map-get($color-options, b);
            transition:  all $time-a ease-in-out;
            &:not(:last-child){
                margin-bottom: $measure * 6;
            }
            @media all and ($viewport-type: $mobile) {
                &:not(:last-child){
                    margin-bottom: $measure * 5;
                }
            }
            &:hover,
            &:focus,
            &:active{
                opacity: .7;
            }
        }
    }
    &--is-active &{
        &__btn{
            &__dash{
                &:nth-child(1),
                &:nth-child(3) {
                transform: translateY(6px) rotate(-45deg) scalex(1.2);
                margin: 0;
                }
                &:nth-child(2) {
                opacity: 0;
                }
                &:nth-child(3) {
                transform: translateY(-6px) rotate(45deg) scalex(1.2);
                }
            }
        }
        &__list-group{
            transform: translateX(0);
        }
    }
}