// this card it's only used @ intro.
.b--intro-a{
    position: relative;
    width: 100%;
    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        width: 1.95vh;
        height: 50vh;
        background-color: map-get($color-options , a);
        @media all and ($viewport-type: $mobile) {
            width: 12px;
        }
    }
    &::before{
        left: 8%;
    }
    &::after{
        right: 8%;
    }
    &__artwork{
        position: absolute;
        top: 0;
        left: 100%;
        width: 1.17vh;
        height: 100%;
        background-color: map-get($color-options , a);
        @media all and ($viewport-type: $mobile) {
            width: 6px;
        }
    }
    &__wrapper{
        position: relative;
        border: 1.46vh solid map-get($color-options , b);
        background: $gradient-g;
        padding: 8%;
        text-align: center;
        @media all and ($viewport-type: $mobile) {
            padding: $measure * 3;
            border: 8px solid map-get($color-options , b);
        }
        &::before{
            content:'';
            position:absolute;
            left:0;top:0;
            width: 100%;
            height: 100%;
            background:  url('@/assets/img/pattern.png') ;
            background-size: cover;
            opacity: 0.2;
        }
        &__title{
            @include make-font-b();
            background: $gradient-k;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: .8;
            &__badge{
                @include make-font-a();
            }
        }
        &__subtitle{
            @include make-font-e();
            color: map-get($color-options , t);
        }
    }
}