// this card it's only used @ intro.
.b--intro-a {
  position: relative;
  width: 100%;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 1.95vh;
    height: 50vh;
    background-color: map-get($colorbg-options, d);
    @media all and (max-height: $mobile) {
      width: 12px;
    }
  }
  &::before {
    left: 8%;
  }
  &::after {
    right: 8%;
  }
  &__artwork {
    position: absolute;
    top: 0;
    left: 100%;
    width: 1.17vh;
    height: 100%;
    background-color: map-get($color-options, a);
    @media all and ($viewport-type: $mobile) {
      width: 6px;
    }
  }
  &__wrapper {
    position: relative;
    border: 1.46vh solid map-get($color-options, b);
    background: $gradient-n;
    background-color: map-get($color-options, i);
    padding: 8%;
    text-align: center;
    @media all and ($viewport-type: $mobile) {
      padding: $measure * 3;
      border: 8px solid map-get($color-options, b);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('@/assets/img/pattern.png');
      background-size: cover;
      opacity: 0.2;
    }
    &__title {
      @include make-font-b();
      background: $gradient-k;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.8;
      &__badge {
        @include make-font-a();
        display: block;
      }
      // Safari 10.1+
      @media not all and (min-resolution: 0.001dpcm) {
        color: map-get($color-options, t);
        -webkit-text-fill-color: map-get($color-options, t);
      }
    }
    &__subtitle {
      @include make-font-e();
      color: map-get($color-options, t);
    }
  }
  // french modifier
  &--fr & {
    &__wrapper {
      &__title {
        font-size: clamp(1rem, 4.785vh, 1.96rem);
        @media all and ($viewport-type: $laptop) {
          font-size: clamp(1.25rem, 6.3vw, 1.96rem);
        }
        @media all and ($viewport-type: $tabletm) {
          font-size: clamp(1.25rem, 6.3vw, 2.5rem);
        }
        @media all and ($viewport-type: $tablets) {
          font-size: clamp(1.25rem, 6.3vw, 1.9rem);
        }
        &__badge {
          font-size: clamp(1rem, 9.5vh, 4.55rem);
          @media all and ($viewport-type: $laptop) {
            font-size: clamp(1rem, 9.5vh, 4.15rem);
          }
          @media all and ($viewport-type: $tabletm) {
            font-size: clamp(1.5rem, 13vw, 4rem);
          }
        }
      }
      &__subtitle {
        @media all and ($viewport-type: $mobile) {
          font-size: clamp(16px, 6vw, 1.5rem);
        }
      }
    }
  }
  // spanish modifier
  &--es & {
    &__wrapper {
      &__title {
        &__badge {
          font-size: clamp(1rem, 9.5vh, 4.55rem);
          @media all and ($viewport-type: $laptop) {
            font-size: clamp(1rem, 9.5vh, 4.15rem);
          }
          @media all and ($viewport-type: $tabletm) {
            font-size: clamp(1.5rem, 13vw, 4rem);
          }
        }
      }
    }
  }
}
