.b--motion-b {
    width: 235px;
    height: 353px;
    background: url('@/assets/img/chapter-1/plant-1.png');
    animation-name: sprite; 
    animation-duration: 3.5s;
    animation-timing-function: steps(79);
    animation-iteration-count: infinite;
    @media all and ($viewport-type: $tabletl) {
        // ASK MECHE - NOT EVEN DESIGNED
        // border:1px solid red;
        // width:75px;
        // height: 75px;
        transform: translate(-25%, -25%) scale(0.5);
    }
  }
  @keyframes sprite {
    from { background-position: 0px; }
    to { background-position: -18565px; }
  }
