.b--motion-test{
    width: 200px;
    height: 227px;
    // background: url('@/assets/img/chapter-13/plant-a.png');
    animation-name: motionTest; 
    animation-duration: 2s;
    animation-timing-function: steps(48);
    animation-iteration-count: infinite;
    @media all and ($viewport-type: $tabletl) {
        // ASK MECHE - NOT EVEN DESIGNED
        // border:1px solid red;
        // width:75px;
        // height: 75px;
        // transform: translate(-25%, -25%) scale(0.5);
    }
}


  @keyframes motionTest {
    from { background-position: 0px; }
    to { background-position: -9600px; }
  }
