.b--motion-b {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 600px;
  height: 550px;
  animation-name: motionB;
  animation-duration: 2s;
  animation-timing-function: steps(96);
  animation-iteration-count: infinite;
  @media all and ($viewport-type: $laptop) {
    transform: translate(-15%, 15%) scale(0.7);
  }
  @media all and ($viewport-type: $tabletm) {
    transform: translate(-5%, 5%) scale(0.9);
  }
  @media all and ($viewport-type: $mobile) {
    transform: translate(-25%, 25%) scale(0.5);
  }
}
@keyframes motionB {
  from {
    background-position: 0px;
  }
  to {
    background-position: -57600px;
  }
}
