.b--motion-p {
    position: absolute;
    bottom: 78%;
    left: 83%;
    z-index: 3;
    width: 100px;
    height: 100px;
    animation-name: motionP;
    animation-duration: 2s;
    animation-timing-function: steps(96);
    animation-iteration-count: infinite;
    transform-origin: bottom left;
    @media all and (max-height: 1000px) {
        transform: scale(0.95);
    }
    @media all and (max-height: 950px) {
        transform: scale(0.9);
    }
    @media all and (max-height: 900px) {
        transform: scale(0.85);
    }
    @media all and (max-height: 850px) {
        transform: scale(0.8);
    }
    @media all and (max-height: 800px) {
        transform: scale(0.75);
    }
    @media all and (max-height: 750px) {
        transform: scale(0.7);
    }
    @media all and (max-height: 700px) {
        transform: scale(0.65);
    }
    @media all and (max-height: 650px) {
        transform: scale(0.6);
    }
    @media all and (max-height: 600px) {
        transform: scale(0.55);
    }
    @media all and (max-height: 550px) {
        transform: scale(0.5);
    }
    @media all and (max-height: 480px) {
        transform: scale(0.45);
    }
    @media all and (max-height: 420px) {
        transform: scale(0.4);
    }
    @media all and (max-height: 380px) {
        transform: scale(0.38);
    }
    @media all and (max-height: 350px) {
        transform: scale(0.35);
    }
    @media all and (max-height: 325px) {
        transform: scale(0.33);
    }
  }
  @keyframes motionP {
    from {
      background-position: 0px;
    }
    to {
      // width * steps
      background-position: -9600px;
    }
  }
  