.b--motion-i {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 296px;
  height: 353px;
  animation-name: motionI;
  animation-duration: 2s;
  animation-timing-function: steps(96);
  animation-iteration-count: infinite;
  transform-origin: bottom left;
  @media all and (max-height: 870px) {
    transform: scale(0.9);
  }
  @media all and (max-height: 780px) {
    transform: scale(0.8);
  }
  @media all and (max-height: 690px) {
    transform: scale(0.7);
  }
  @media all and (max-height: 620px) {
    transform: scale(0.6);
  }
  @media all and (max-height: 520px) {
    transform: scale(0.5);
  }
  @media all and (max-height: 440px) {
    transform: scale(0.45);
  }
  @media all and (max-height: 400px) {
    transform: scale(0.4);
  }
  @media all and (max-height: 350px) {
    transform: scale(0.35);
  }
}
@keyframes motionI {
  from {
    background-position: 0px;
  }
  to {
    // width * steps
    background-position: -28416px;
  }
}
