// scene 10 - fisherman
.b--motion-f {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 600px;
    height: 700px;
    animation-name: motionF;
    animation-duration: 2s;
    animation-timing-function: steps(96);
    animation-iteration-count: infinite;
    @media all and ($viewport-type: $laptop) {
      transform: translate(-14%, 14%) scale(0.72);
    }
    @media all and ($viewport-type: $tabletl) {
      transform: translate(15%, -15%) scale(1.3);
    }
    @media all and ($viewport-type: $tabletm) {
      transform: scale(1);
    }
    @media all and ($viewport-type: $mobile) {
      transform: translate(-10%, 10%) scale(0.8);
    }
  }
  @keyframes motionF {
    from {
      background-position: 0px;
    }
    to {
      background-position: -57600px;
    }
  }
  