.b--motion-b {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 600px;
  height: 550px;
  animation-name: motionB;
  animation-duration: 2s;
  animation-timing-function: steps(96);
  animation-iteration-count: infinite;
  @media all and (max-height: 920px) {
    transform: translate(-2%, 2%) scale(0.9);
  }
  @media all and (max-height: 875px) {
    transform: translate(-5%, 5%) scale(0.86);
  }
  @media all and (max-height: 820px) {
    transform: translate(-7%, 7%) scale(0.8);
  }
  @media all and (max-height: 770px) {
    transform: translate(-10%, 10%) scale(0.76);
  }
  @media all and (max-height: 720px) {
    transform: translate(-12%, 12%) scale(0.72);
  }
  @media all and (max-height: 670px) {
    transform: translate(-14%, 14%) scale(0.68);
  }
  @media all and (max-height: 620px) {
    transform: translate(-16%, 16%) scale(0.64);
  }
  @media all and (max-height: 570px) {
    transform: translate(-18%, 18%) scale(0.56);
  }
  @media all and (max-height: 520px) {
    transform: translate(-22%, 22%) scale(0.52);
  }
  @media all and (max-height: 500px) {
    transform: translate(-24%, 24%) scale(0.48);
  }
  @media all and (max-height: 450px) {
    transform: translate(-26%, 26%) scale(0.44);
  }
  @media all and (max-height: 420px) {
    transform: translate(-28%, 28%) scale(0.4);
  }
  @media all and (max-height: 400px) {
    transform: translate(-30%, 30%) scale(0.36);
  }
  @media all and (max-height: 370px) {
    transform: translate(-32%, 32%) scale(0.32);
  }
  @media all and (max-height: 340px) {
    transform: translate(-34%, 34%) scale(0.28);
  }
}
@keyframes motionB {
  from {
    background-position: 0px;
  }
  to {
    background-position: -57600px;
  }
}
