.b--motion-a {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 150px;
  height: 150px;
  // background: url('@/assets/img/chapter-1/bubble-motion.png');
  animation-name: motionA;
  animation-duration: 3.13s;
  animation-timing-function: steps(193);
  animation-iteration-count: infinite;
  transform: translate(-7.5%, 7.5%) scale(0.85);
  @media all and ($viewport-type: $laptop) {
    transform: translate(-15%, 15%) scale(0.7);
  }
  @media all and ($viewport-type: $tabletl) {
    transform: translate(-25%, 25%) scale(0.5);
  }
}
@keyframes motionA {
  from {
    background-position: 0px;
  }
  to {
    background-position: -28950px;
  }
}
