.b--motion-h {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 74px;
  height: 42px;
  animation-name: motionH;
  animation-duration: 2s;
  animation-timing-function: steps(96);
  animation-iteration-count: infinite;
  transform-origin: top left;
  @media all and (max-height: 1000px) {
    transform: scale(0.95);
  }
  @media all and (max-height: 950px) {
    transform: scale(0.9);
  }
  @media all and (max-height: 900px) {
    transform: scale(0.85);
  }
  @media all and (max-height: 850px) {
    transform: scale(0.8);
  }
  @media all and (max-height: 800px) {
    transform: scale(0.75);
  }
  @media all and (max-height: 750px) {
    transform: scale(0.7);
  }
  @media all and (max-height: 700px) {
    transform: scale(0.65);
  }
  @media all and (max-height: 650px) {
    transform: scale(0.6);
  }
  @media all and (max-height: 600px) {
    transform: scale(0.55);
  }
  @media all and (max-height: 550px) {
    transform: scale(0.5);
  }
  @media all and (max-height: 500px) {
    transform: scale(0.45);
  }
  @media all and (max-height: 450px) {
    transform: scale(0.43);
  }
  @media all and (max-height: 425px) {
    transform: scale(0.4);
  }
  @media all and (max-height: 400px) {
    transform: scale(0.38);
  }
  @media all and (max-height: 370px) {
    transform: scale(0.35);
  }
  @media all and (max-height: 335px) {
    transform: scale(0.32);
  }
}
@keyframes motionH {
  from {
    background-position: 0px;
  }
  to {
    background-position: -9600px;
  }
}
