@mixin link-a() {
  display: block;
  font-weight: bold;
  text-underline-offset: 0.05em;
  transition: all $time-a ease-in-out;
  @-moz-document url-prefix() {
    text-underline-offset: 0.25em;
  }
}

@mixin link-a-color($colortext) {
  color: map-get($color-options, $colortext);
}

@mixin link-a-interaction() {
  opacity: 0.7;
}
